body {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  margin: 0px;
}

body > * {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 96px;
  padding-bottom: 96px;
}

.header,
.main-card {
  background-color: #1F2937;
}

.header {
  display: flex;
  padding-top: 12px;
  padding-bottom: 0px;
}

.header img {
  margin-right: auto;
  height: 40px;
  width: 80px;
  align-self: center;
}

.header ul {
  display: flex;
  gap: 12px;
  list-style-type: none;
  padding: 0px;
}

.header ul a {
  color: #E1E1E1;
  text-decoration: none;
}

.main-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.left-main-card {
  display: flex;
  flex-direction: column;
}

.left-main-card h1,
.left-main-card p {
  margin: 0px;
}

.left-main-card h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.left-main-card p {
  color: #E5E7EB;
}

.left-main-card button {
  color: #F9FAF8;
  font-size: 18px;
  font-weight: 900;
  background-color: #3882F6;
  border-radius: 8px;
  padding: 8px;
  padding-left: 24px;
  padding-right: 24px;
  border: 0px;
  margin-top: 8px;
  margin-right: auto;
}

.right-main-card img {
  height: 250px;
  width: auto;
}

.info {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  align-items: center;
  gap: 24px;
}

.info h2 {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.cards {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.card img {
  border: 4px solid #3882F6;
  border-radius: 12px;
  height: 140px;
  width: auto;
}

.card p {
  text-align: center;
  color: dimgray;
  margin: 0px;
}

.quote-card {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  gap: 4px;
}

.quote {
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
  font-style: italic;
  margin: 0px;
}

.quote-card .author {
  font-size: 24px;
  margin: 0px;
  margin-left: auto;
}

.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #3882F6;
  padding: 48px 84px 48px 84px;
  border-radius: 12px;
}

.left-cta {
  display: flex;
  flex-direction: column;
}

.left-cta h3,
.left-cta p {
  margin: 0px;
}

.left-cta h3 {
  font-size: 24px;
}

.left-cta p {
  color: #E1E1E1;
}

.right-cta button {
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-color: white;
  background-color: #3882F6;
  border-style: solid;
  border-radius: 8px;
  padding: 4px 24px 4px 24px;
}
